nav {
    display: flex;
    justify-content: space-between;
    background-color: #6e072d;
    color: white;
    font-size: 18px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 1em 1.5em;
    list-style-type: none;
    cursor: pointer;
}

li:not(:last-of-type) {
    border-right: 2px solid white;
}

li:hover {
    background-color: #b90e4d;
}